# =====================
# C# / .NET
# =====================
bin/
obj/
.vs/
*.user
*.suo

# =====================
# Electron / Node
# =====================
node_modules/
dist/
out/
build/

# =====================
# OS / Editor noise
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs / temp
# =====================
*.log

# =====================
# Executables
# =====================
*.exe
